.container
{
	padding-left: 20px;
}

.container-center
{
	padding-left: 20px;
	max-width: 600px;
	/*margin:auto;*/
} 


.link-primary
{
   
	background-color:#6a5acd;
	color:#f8f8ff;
	border:1px solid #6a5acd;
	border-radius:4px;
    text-decoration:none; 
   font-size:17px;
   margin-left: 500px;
   padding: 0.3rem;
   /*float: right;*/
}


.link-secondary
{
	/*background-color:#6a5acd;*/
	/*color:#f8f8ff;*/
	color: #6a5acd;

	border:1px solid #6a5acd;
	border-radius:4px;
    text-decoration:none; 
    font-size:17px;
    margin-left: 10px;
    padding: 0.3rem;
    /*padding: 0.5rem;*/
}

.none-inline
{
	display:inline;
	margin-left: 10px;
}
.navigation 
{
	background-color:#7b68ee;
	
	color: white;
	
	height:110px;
	width:100%;
	border-bottom-left-radius:16px;
	
}
   .div1
   {
	   font-weight:bold;
	   padding-top: 10px;
	   padding-left: 20px;
   }



   .navigation .list-item-inline
  {
	  margin-left: 60px;
	  list-style:none;
	 text-decoration:none;
     display: inline;
   

  }


  .active
 {
	color:white;
	
	padding-left:7rem;
	text-decoration: none;
	margin-left:70px;
	/*float: left;*/

	
}

span
{
	color:#7b68ee;

}

 .hero
 {
 	padding:2rem;
 }


  .img1
 {
 	max-width: 350px;
 	display: block;
 	margin: auto;
 }

 .heading
 {
 	text-align: center;
 	color: gray;
 }
 .white
 {
 	text-align: center;
 
}
 .log1
 {
 	text-align: center;

 	background-color: #dcdcdc;

 }

 .log2
 {
    text-align: center;
    

 }




 footer
 {
 	background-color:#7b68ee;
 	padding: 2rem;
 	text-align:center;
    border-top-right-radius: 1rem;
    color: white;

 }


 .first
 {
 	text-decoration: none;
 	color: white;

 }

 .unorderd
 {
 	
   font-size: large;
   /*text-align: center;*/
   margin-left:300px;
   list-style: none;
 
  /* float: right;*/
 }


 li
 {
 	float: left;

 }

 a
 {
 	text-align: center;
 	padding-left: 20px;
 }


 .div2
 {
 	/*margin-left:360px;*/
   /*list-style: none;*/
   list-style: none;
    height: 40px;

 }

 .header
 {
 	font-size: large;
 }

 .blog1
 {
 	color: #6a5acd ;
 	border: 1px solid #6a5acd;
 	border-radius: 3px;
 	margin-left:500px;
 	text-decoration:none;
 	/*font-size: large;*/

 }
 .paragraph
 {
 	/*background-color: #dcdcdc;*/
 	text-align: center;
 	  
 }

 .hero-heading
 {
 	margin-left: 390px;
 	margin-top: 50px;
 }
 #blogs
 {
 	margin-left: 20px;
 }
 .unorderd-container
 {
 	float: left;
 }
 .div3
 {
 background-color: #dcdcdc;
 }
 .section1
 {
 	background-color: #dcdcdc;
 }
 /*
 <*/
 #active-contianer
 {
 	/*border: 1px solid #6a5acd;**/
 	background-color: #6a5acd;
 	text-decoration: none;
 	width: 100px;
   display: inline;
   padding: 0.5rem;
   font-size: 17px;
   color: white;
   border-style: none;

 }